* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    transition: background-image 1s;
}

#time {
    font-size: 8rem;
}

#date {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

#focus {
    margin-bottom: 100px;
}

.quote_block {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 10px;
}

.quote {
    background-color: #ffffffd7;
    color: black;
    padding: 1em;
    border-radius: 1em;
}
.quote figcaption, .quote blockquote {
    margin: 1em;
}
.quote figcaption {
    text-align: right;
}
  
.btn {
    background-color: #ffffffd7;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-image: url("../assets/refresh.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(.8);
    margin: 5px;
}
.btn:hover {
    filter: grayscale(.2);
}
.btn:active, .btn:focus {
    outline: 0;
}
.btn:active{
    transform: scale(1.02)
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    #time {
        font-size: 6rem;
    }
    
}

@media (max-width: 550px) {
    #time {
        font-size: 5rem;
    }
    #date {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .btn {
        width: 30px;
        height: 30px;
    }
}

.city {
    width: 300px;
    padding: 10px 0;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.temperature {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}
.weather-description {
    width: 300px;
    margin: 20px auto;
    font-size: 20px;
    padding: 12px 0;
    color: #ffffff;
    background-color:#44aadd;
    border-radius: 5px;
}
.weather-icon {
    font-size: 160px;
    color: #44aadd;
}
.weather-icon:hover {
    animation: shake 1.5s;
}
    
.weather-description:hover {
    animation: shake 1.5s;

}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
}